@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 1rem;
}

body {
  background-color: hsl(235deg, 18%, 26%);
  min-width: 20rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.component {
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;
  padding-block: 2.5rem;
  padding-inline: 1.5rem;
  border: 1px dashed lightgray;
}

.header {
  background-color: hsl(0deg, 0%, 100%);
}

.banner-image {
  width: 100%;
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.signup-invitation {
  justify-content: center;
}

.heading {
  font-size: 2.5em;
  color: hsl(234deg, 29%, 20%);
}

.text {
  font-weight: 400;
  line-height: 1.5;
  color: hsl(235deg, 18%, 26%);
}

.list {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.list > li::before {
  content: url("../assets/images/icon-list.svg");
  display: inline-block;
}

.list > li {
  display: flex;
  gap: 1rem;
}

.user-email-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label-text {
  font-size: 0.75em;
  font-weight: 700;
  color: hsl(235deg, 18%, 26%);
}

.user-email-input {
  all: unset;
  border: 1px solid hsl(0deg, 0%, 58%);
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.user-email-input::-moz-placeholder {
  color: hsl(0deg, 0%, 58%);
}

.user-email-input:-ms-input-placeholder {
  color: hsl(0deg, 0%, 58%);
}

.user-email-input::placeholder {
  color: hsl(0deg, 0%, 58%);
}

.button {
  all: unset;
  background-color: hsl(234deg, 29%, 20%);
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-weight: 700;
  padding-block: 1rem;
  border-radius: 0.5rem;
}

.signup-success {
  min-height: 100vh;
  display: none;
}

.success-icon {
  width: 4rem;
  aspect-ratio: 1/1;
}

.dismiss-button {
  -webkit-margin-before: auto;
          margin-block-start: auto;
}

.user-email-input:hover,
button:hover {
  cursor: pointer;
}

.user-email-input:focus-visible {
  cursor: text;
  outline: 0.125rem solid hsl(235deg, 18%, 26%);
  border: 1px solid hsl(0deg, 0%, 100%);
}

button:focus-visible {
  outline: 0.25rem solid hsl(4deg, 100%, 67%);
}

button:active {
  background-color: hsl(4deg, 100%, 67%);
  background: linear-gradient(to right, #ff527b 30%, hsl(4deg, 100%, 67%) 50%);
  box-shadow: 0rem 1rem 1.5rem -0.125rem hsla(4deg, 100%, 67%, 0.5);
}

.no-display {
  display: none;
}