// FONT ROBOTO
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

//                  VARIABLES
// primary color
$Red: hsl(4, 100%, 67%);
// neutral colors
$Blue-800: hsl(234, 29%, 20%);
$Blue-700: hsl(235, 18%, 26%);
$Grey: hsl(0, 0%, 58%);
$White: hsl(0, 0%, 100%);
// typography
$Body-font-family: "Roboto", sans-serif, Arial, Helvetica;
$Body-font-size: 1rem; // 16px
// linear gradient
$Pink-Red-linear-gradient: linear-gradient(to right, #ff527b 30%, $Red 50%);
// button shadow
$Button-shadow: 0rem 1rem 1.5rem -0.125rem hsla(4, 100%, 67%, 0.5);
// responsive box spaces
$divided-space: calc((100vh - 840px) / 5);
$responsive-length-2-5rem: clamp(2.5rem, calc(2.5rem + $divided-space), 5rem);
$responsive-length-1-5rem: clamp(1.5rem, calc(1.5rem + $divided-space), 3rem);
$responsive-length-1rem: clamp(1rem, calc(1rem + $divided-space/2), 1.5rem);

// INITIAL RULES
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  // typography
  font-family: $Body-font-family;
  font-size: $Body-font-size;
}

// PARENTMOST CONTAINER, BACKGROUND
body {
  // background visible on tablets and wider screens
  background-color: $Blue-700;

  // minimum mobile-width - 320px
  min-width: 20rem;

  // anchor signup form's flex grow
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// ###          MOBILE DESIGN

// ---  PRIMARY CONTENT,
// Both Sign-up Form and Success component
.component {
  width: 100%;
  background-color: $White;

  // // occupy free space, when viewport is longer than content space
  // flex: 1;

  // vertical arrangement on content
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-around;

  // box space
  padding-block: 2.5rem;
  padding-inline: 1.5rem;

  border: 1px dashed lightgray;
}
.signup-main {
  // occupy free space, when viewport is longer than content space
  flex: 1;
}

// ---  BANNER
.header {
  background-color: $White;
}
.banner-image {
  width: 100%;
  display: block;
}

// ---  COMPONENT SECTIONS 
.section {
  // arrange content
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  // occupy free space, when viewport is longer than content
  // flex: 1;
}
.signup-invitation {
  // occupy free space, when viewport is longer than content
  flex: 1;
  // arrange content, center of free space
  justify-content: center;
}
// SIGN-UP TEXTS
.heading {
  font-size: 2.5em;
  line-height: 1.1;
  color: $Blue-800;
}
.text {
  font-weight: 400;
  line-height: 1.5;
  color: $Blue-700;
}
.list {
  // remove native styles
  list-style: none;
  padding-inline-start: 0;

  // arrange content
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list > li::before {
  // svg icon as custom list-style
  content: url("../assets/images/icon-list.svg");
  display: inline-block;
}
.list > li {
  // arrange content
  display: flex;
  gap: 1rem;
}

// USER-EMAIL INPUT
.user-email-input-container {
  // arrange content
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.input-label-text {
  // typography
  font-size: 0.75em;
  font-weight: 700;
  color: $Blue-700;
}
.user-email-input {
  // remove native styles
  all: unset;

  // styles
  border: 1px solid $Grey;
  border-radius: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}
.user-email-input::placeholder {
  color: $Grey;
}

// SUBMIT-FORM BUTTON
.button {
  // remove native styles
  all: unset;

  // styles
  background-color: $Blue-800;
  color: $White;
  text-align: center;
  font-weight: 700;
  padding-block: 1rem;
  border-radius: 0.5rem;
}

// ---  SUCCESS MESSAGE
.signup-success {
  // anchor .success-message's height
  height: 100vh;
}
.success-message {
  min-height: 55%;
}
.success-icon {
  // dimension
  width: 4rem;
  aspect-ratio: 1/1;

  // push self and siblings to the bottom of container
  margin-block-start: auto;
}
.subscribed-user-email {
  font-weight: bold;
}
.dismiss-button {
  // place self to the bottom
  margin-block-start: auto;
}

// USER-EVENT STYLES
.user-email-input:hover,
button:hover {
  cursor: pointer;
}
.user-email-input:focus-visible {
  cursor: text;
  outline: 0.125rem solid $Blue-700;

  // make border look invisible
  border: 1px solid $White;
}
button:focus-visible {
  outline: 0.25rem solid $Red;
}
button:active {
  background-color: $Red; // fallback background
  background: $Pink-Red-linear-gradient;
  box-shadow: $Button-shadow;
}
// ###  end of: MOBILE DESIGN

// styled classes
.no-display {
  display: none;
}
